/* ==========portfolio style========== */

main {
  padding-top: 60px;
}

.portfolio {
  width: 100%;
  height: auto;
}

h2.portfolio__title {
  padding: 20px 0px;
  font-size: 20px;
  color: #000;
  text-align: right;
  font-weight: 600;

  width: 50%;
}

.portfolio__list li {
  padding: 16px 0px;
  display: flex;
  align-items: flex-start;
}

.portfolio__name {
  width: 50%;
  text-align: right;
}

.portfolio__name span {
  padding: 4px 20px 10px;
  color: #151515;
  font-weight: 300;
  font-size: calc(31.25px + 45.04395 * (100vw - 375px) / 1545);

  -webkit-transition: color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

  box-shadow: inset 0 0 0 0 #151515;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.portfolio__name span:hover {
  box-shadow: inset 0 0 0 52px #151515;
  color: #fff;
  cursor: pointer;
}

.portfolio__desc {
  opacity: 0;
  visibility: hidden;
  width: 50%;
  display: none;

  position: relative;
  -webkit-transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio__desc.show {
  opacity: 1;

  visibility: visible;
  display: block;
}

.portfolio__desc .inner {
  opacity: 1;
  margin-left: 12.5%;
  padding-top: 10px;

  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inner img {
  width: auto;
  font-size: 61.03515625px;
  height: calc(0.8em + 20.48px);
}

.inner .desc {
  margin-top: 20px;
  margin-bottom: 28px;
  font-size: 20px;
  color: #000;
}

.portfolio__info {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.info__item {
  margin-bottom: 31px;
  padding-right: 10px;
  width: 50%;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.info__item span {
  display: block;
  margin-bottom: 4px;
}

.info__item a {
  -webkit-transition: background-size 0.6s cubic-bezier(0.86, 0, 0.07, 1),
    color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: background-size 0.6s cubic-bezier(0.86, 0, 0.07, 1),
    color 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f7574b),
    to(#f7574b)
  );
  background-image: linear-gradient(#f7574b, #f7574b);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  background-position: 0 100%;
  background-size: 100% 1px;
  padding-bottom: 1px;
  text-decoration: none;
  color: inherit;
}

.info__item a:hover {
  background-position: 100% 100%;
  background-size: 0 1px;
  color: #f7574b;
}
